@font-face { font-family: Miami; src: url('/css/20db.otf'); }
 
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }

<!-- Jquery UI Styles for tabs //-->
<!-- 

.ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

//-->

<style>

.ui-wrapper{
	position: inherit;
	
}
.hideMe {
	display:none;
}
.ghost {
    id: ELEM_1493255126332;
    height: 5.375vw;
    width: 5.895833333333334vw;
    color: rgb(0, 0, 0);
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://cdn2.iconfinder.com/data/icons/bitsies/128/Pin-128.png);
    background-size: cover;
    border: 0vw;
    bottom: 33.07291666666667vw;
    display: block;
    font-size: 9.375vw;
    font-weight: 400;
    left: 24.869791666666668vw;
    letter-spacing: 0;
    margin-bottom: 0vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0vw;
    right: 51.17187500000001vw;
    top: 7.421875000000001vw;
    touch-action: none;
    perspective-origin: 13.411458333333334vw 13.411458333333334vw;
    transform-origin: 13.411458333333334vw 13.411458333333334vw;
}

body.editing a[type=anchor] {
	border:1px solid red;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: 0px 0px;
}
.dropped-object .ui-icon, .dropped-object .ui-widget-content .dropped-object .ui-icon {
    background-image: url(/css/pinkarrow.png);
   
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-color: inherit;
}


.quick-disabled {

	border:none;
	background-color: transparent;
	color:inherit;
	text-overflow: ellipsis;
	width:100px;
	
}

.quick-disabled-image-field {
	width:250px;
}	

.quick-edit {
	border: 2px dashed red;
}

.peak , .active-peak{
	
    border-width: 1.3888888888888888vw;
    border-width: 20px;
    //border-top-width: 1.3888888888888888vw;
    //border-right-width: 1.3888888888888888vw;
    //border-bottom-width: 1.3888888888888888vw;
    //border-left-width: 1.3888888888888888vw;
    border-style: solid;
    border-color:transparent;
    border-top-color: silver;
    width: 0px;
    height: 0px;
    display:inline;
    z-index:9999999;
}


.msg, .active-message {
	background-color: silver;
	color:white;
	width:27.77777777777778vw;
	width:300px;
	min-width: 200px
	min-height:60px;
	height:9.333333333333334vw;
	height:120px;
	border-radius: 0.3472222222222222vw;
	border-radius: 20px;
	padding:0.3472222222222222vw;
	padding:10px;
	z-index: 999999;
	font-size: 0.8333333333333334vw;
	font-size: 10px;
	font-family:sans-serif;
	overflow-y: visible;
}

.active-message {
	background-color: rgb(49, 100, 235)
}

.active-peak {
	border-top-color:rgb(49, 100, 235);
}



ul.tabul {
	background-color: white;
}
#tabs {
	border:0px;
	height:100%;
	
}


.saveImage {
    height: 15.585384041759882vw;
    width: 16.03281133482476vw;
    color: rgb(0, 0, 0);
    z-index: 10000000000;
    opacity: .8;
    display:none;
    position: absolute;
    cursor: url(http://cursors4.totallyfreecursors.com/thumbnails/pencil.gif), auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://d13yacurqjgara.cloudfront.net/users/637492/screenshots/2487758/paperplane.gif);
    background-image: url(http://gowebrobotics.com/wp-content/uploads/2015/06/dribbble.gif);
    
    background-size: cover;
    border: 1vw dashed black;
    border-bottom-right-radius: 8.242431021625654vw;
    border-top-left-radius: 8.15123042505593vw;
    border-bottom-left-radius: 8.242431021625654vw;
    border-top-right-radius: 8.334601043997017vw;
    bottom: 14.630499627143923vw;
    display: block;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 0vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0vw;
    right: 9.099552572706937vw;
    touch-action: none;
    perspective-origin: 9.271290082028338vw 9.271290082028338vw;
    transform-origin: 9.271290082028338vw 9.271290082028338vw;
}



.ui-autocomplete { color:yellow;position: absolute; cursor: default;z-index:999999999999 !important;}  





.ui-widget.ui-widget-content, #imgwin, div.styleValue > input {
	//background-color: #232323;
	background-color: #484F5D;
	border:0px;
	//height:100%;
}



.ui-state-default {
	border:0px;
	text-transform: capitalize;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {

	border:0px;
	border-left:1px solid silver;
	border-right:1px solid silver;
	text-transform: capitalize;
}

.ui-helper-reset {
	font-size:65%;
	text-transform: capitalize;
}
.ui-corner-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-tabs .ui-tabs-nav {
	padding: 0px;
}

.ui-tabs .ui-tabs-nav li {
	margin:0px;
	padding:0px;
}


.dropped-object:hover {
		cursor: auto;
}

.mini-responsive-design-tab, .rocket-save, .rocket-settings {
	
	font-size:15px;
	cursor:pointer;
	color:yellow;
	background-color:black;

}



.mini-responsive-design-tab:hover, .rocket-save:hover, .rocket-settings:hover {
	
	font-size:15px;
	cursor:pointer;
	color:white !important;
	background-color:navy !important;
}


.responsive-design-tab {
	height:3.8029386343993083vw;
	width:18.15038893690579vw;
	z-index:5011;
	cursor:pointer;
	background-color:transparent;
	border:3px solid black;
	border-bottom-left-radius:64px;
	border-bottom-right-radius:0px;
	border-right-style:solid;
	border-right-width:1px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-top-style:solid;
	border-top-width:1px;
	bottom:631px;
	box-shadow:none;
	display:block;
	font-size:1.8857546947434585vw;
	font-weight:600;
	left:81.93604148660329vw;
	line-height:15px;
	padding-bottom:0px;
	padding-left:0vw;
	padding-right:0px;
	padding-top:1vw;
	right:-2px;
	text-align:center;
	top:0vw;
	opacity:.5
	column-gap:21.8167px;
	perspective-origin:102px 102px;
	-webkit-text-fill-color:grey;
	transform-origin:102px 102px;
	type:DIV;
	border-width:NaNvw;
	position:fixed;
}

.icon {
	width:32px;
	height:32px;
	font-size:32px;
	position: absolute;
}
.extendedTabs {

	display: none;
}
.styleRow {
	display:inline-block;
	width:400px;
}
.styleLabel {
	display:inline-block;
	width:30%;
	font-family:Arial,Helvetica,sans-serif;
	color:silver;
	font-size:14px;
}

div.styleValue > input, #imgwin {
	//background-color: #232323;
	border:none;
	border-bottom: 1px solid;
	color:yellow;
	width:250px;
}

.styleValue {
	display:inline-block;
	width:50%;
}
.button {
	color:white;
	text-transform:uppercase;
	font-size:1.5vw;
	width: 12vw;
	height:2vw;
	text-align: center;
	display: inline-block;
	border:2px solid;
	border-radius: 25px;
	//position:absolute;

  

	align-content: middle;
}

.filmbutton {
	border:solid;
	border-color:black;
}

.red {
	background-color: red;
}

.left {
	float:left;
}

.right {
	float:right;
}
video {
    object-fit: initial;
    position: absolute; 
    left: 0; 
    top:0;
    margin: 0;
    bottom: 0;  
    width: inherit;
    height:inherit;  
    background-size: cover;
    overflow: hidden;
}

div.header {
	width:110%;
	height:50px;
	opacity: .5;
	position: fixed;
	color:white;
	background-color: black;
	//margin-top:30px;
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 10px;

}
div.toolset {
	background-color: #f4f4f4;
	position:fixed;
	top:10vw;
	//right:5%;
	left:20vw;
	width:12vw;
	padding:.2vw;
	//height: 400px;
	//opacity: .90;
	border-radius: 10px;
	//display:none;
	z-index: 90000;
	box-shadow: 10px 10px 5px silver;
}

div.toolset_header {
	background-color: transparent;
	border: 1px solid navy;
	text-align: center;
	color:navy;
	height:3vw;
}

div.tool {
	text-transform: uppercase;
	text-align: center;
	position:relative; 
	border: solid;
	font-size:1vw;
	border-width: : .2vw;
	margin:1vw;
	width:3vw;
	border-radius: 2px;
	display: inline-block;
}

div.tool:hover {
	background-color: navy;
	color:white;
}

.handle {
	background-color: green;
	top:0px;
	left:px
	width:5px;
	display:inline-block;
	postion:relative;
}

.generictext {
	width:150px;
	height:20px;
	font-size:20px;	
}



.squarepeg {
	background-color: transparent;
	width:200px ;
	height:200px;

}

div.container {
	background-color: silver;
	width:100vw;
	height:90vw;
	//display:inline-block;
	position:absolute;
	text-align: center;	
	margin:0px;
	padding:0px;
}

.oldtrash {
	width:8vw;
	height:10vw;
	float:right;
	padding-left:2vw;
	padding-top:40px;
	position:relative;
}

.trash {
	height:175px;
	width:150px;
	color:rgb(0, 0, 0);
	z-index:1;
	position:fixed;
	left:50%;
	top:70%;
}

.hotspot {
	display:inline-block;
	cursor:pointer;
}

.hotspot:hover {
	background-color: yellow;
}




.hotspot img {
	width: 2vw;
	height:2vw;
}


.toolhotspot, .drawingTool  {
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	z-index: 9000000;
	//border: 1px solid;
}

.list {
    height: 210px;
    //white-space: nowrap;
    //background-color: white;
   // overflow-x: hidden;
   // overflow-y: hidden;
}



.submenu {

	//-webkit-text-stroke-color:#FFD700  !important;
	//-webkit-text-stroke-width:1px !important;

	border: solid #3164EB !important;
	//border: solid silver !important;
	//opacity: 50% !important;
	//background-color: #3164EB !important;
	
}

.redoutline {
	border: solid red !important;
}

.disabledElements {
	opacity:.65 !important;
}

.submenu_on {
	//border: 3px solid  #2DA63B!important;
	opacity:1 !important;

}

.over {
	opacity: .80;
	//border: dashed;
	border-color :red !important;
	
}

.debug-border-style, .squarepeg {
	border: 3px dashed;
	border-color: black;
}

.texttool{
	color:black;
	font-size:20px;
	height:25px;
	width:100px;
}
.ui-dialog { z-index: 900000 !important ;opacity:.75; }


.navy {
	background-color: navy
}

.green {
	background-color: green;
}
.copy {
	//background-color: white;
}

.noborder {

	border:none !important;
}

html {
	height: 100%
}

body {
	//width:100%;
	align:center;
	padding:0px;
	--height:3000px;
	//background-color:rgb(217, 225, 233);
	background-color: #fefefe;
	font-family: Cinzel;

}
textarea {
	width:100%;
	height:200px;
}

.content-image {
	position: absolute;
	max-width: 3000px;
	max-height: 3000px;
}

.mastersave {
	display: none;
}

#error_area {
	height:40px;
}

    /* CSS3 */

/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
   // color: #333;
    border-radius: 5px;
    padding: 0;

}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}


.template {
	background-color:rgba(0, 0, 0, 0);
	background-image:url("http://icons.iconarchive.com/icons/iconsmind/outline/512/Resize-icon.png");
	background-repeat:no-repeat;
	background-size:cover;
	border:3px dashed rgb(0, 0, 0);
	border-radius:10px;
	height:10.387710314557424vw;
	
	position:relative;
	width:11.338697878566203vw;
}

#quick-edit {
	width: 400;
	height:400;
}

#quick-edit input {
	width: 125px;
	height: 30px;
	color:grey;
	border-radius: 5px;

}

[type=IMG] {
	z-background-image: url(https://fponly.files.wordpress.com/2010/04/fpo_logo_02.gif);
	z-background-image: url(https://cdn.colorlib.com/wp/wp-content/uploads/sites/2/jquery-file-upload-scripts.png);
	background-image: url(http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png);
	height:154px;
	width: 275px	;
	background-size: cover;
}



[type=PLUGIN] {
	background-image: url(https://maxcdn.icons8.com/Share/icon/win10/Industry//insert1600.png);
	background-size: cover;
}

[type=CIRCLE]{
	border-radius: 100vw;
}



.shapes div{
  //border: 1px dashed black;
  width:25px;
  height:25px;
  font-size:25px;
  //color:#5B7DB5;
  color:navy;
  opacity: .5;
  vertical-align: top;
  top:0;
  left:0;
  display:inline-block;
  position: relative;
  margin-right:5px;
  margin:left:3px;
  text-align: center
  background-size: cover;
  background-repeat: no-repeat;
}

.ui-timepicker-wrapper {
	position: absolute;
	top: 440px;
	color: black;
	border-radius: 10px;
	border:3px solid black;
	height: 245;
	width: 125;
	left: 150.625px;
	overflow: scroll;
	z-index: 999999999;
	background-color: grey;

}
.ui-timepicker-list {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}

.ui-timepicker-list > li:hover {
	list-style-type: none;
	background-color: #0A39EE;
	color: white;
	

}

.me {
position:relative;
width:400px;
height:400px
background-image:url("https://static.wixstatic.com/media/cd3196_b8e1027a20b24a349839a38f610497ea~mv2.png/v1/fill/w_764,h_596,al_c,usm_0.66_1.00_0.01/cd3196_b8e1027a20b24a349839a38f610497ea~mv2.png");
background-size: cover;
}

.me2 {
    position:absolute;
}


.mini-responsive-design-tab {
		display:none;
}

/*
Edit box
*/

.edit-text{
	font-size: 15px;
	padding:5px;
	background-color: black;
	color:white;
	font-weight: bold;
	display:inline;
}

.edit-text:hover, .edit-text:visited {
	background-color:navy;
}



@media (max-width: 700px) {
	.defaultTabs, .mini-responsive-design-tab {
		display:none;
	}
}


